@import 'config';

@function textColor($backgroundColor) {
  @if (lightness($backgroundColor) >40%) {
    @return #000;
  } @else {
    @return #fff;
  }
}

@mixin buttonHover {
  &:hover {
    background-color: grey;
  }
}

@mixin large {
  @media screen and (max-width: 200px) {
    @content;
  }
}

:root {
  background-color: #fff;
}

nav {
  width: 100;
  display: flex;
  flex-flow: row-reverse;
  justify-content: center;

  .menuItem {
    @include buttonHover();
    @include large {
      margin: 80px 0;
    }
    background-color: $backgroundColor;
    color: textColor($backgroundColor);
    margin: auto;
  }
}

.matchContainer {
  display: flex;
  flex-direction: column;
  .match {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}

.matchContainer2 {
  @extend .matchContainer;
  gap: 40px;
}
